<mat-toolbar color="primary">
  <div class="logo"
       routerLink="/">
    <span class="head">manhattanman</span>
    <span class="motto">blog about making the blog</span>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button
          routerLink="/blog"
          class="blog-icon pop-later"
          aria-label="Blog page">
    <mat-icon color="accent">article</mat-icon>
  </button>
  <button mat-icon-button
          class="favorite-icon pop-later"
          aria-label="Add to favorites">
    <mat-icon color="warn">favorite</mat-icon>
  </button>
  <button mat-icon-button
          class="share-icon pop-later"
          aria-label="Share the article">
    <mat-icon color="primary">share</mat-icon>
  </button>
  <button mat-icon-button
          class="menu-icon pop-later"
          aria-label="Sandwich menu"
          (click)="toggleTabletMenu()">
    <mat-icon color="primary">menu</mat-icon>
  </button>
</mat-toolbar>


<mat-selection-list role="list"
                    class="tablet-menu"
                    [multiple]="false"
                    [ngClass]="{open: isOpen}">
  <mat-list-option role="listitem"
                   routerLink="/"
                   (click)="toggleTabletMenu()">Home</mat-list-option>
  <mat-list-option role="listitem"
                   routerLink="/blog"
                   (click)="toggleTabletMenu()">Blog</mat-list-option>
  <mat-list-option role="
                   listitem">Favorites</mat-list-option>
</mat-selection-list>
