<div [ngClass]="[currentConfig.classNames?.container, 'code']">
    <div *ngIf="language" [ngClass]="['lang', currentConfig.classNames?.languageInfoBar]">
        <img [src]="language.logoSrc" [alt]="language.logoAlt" />
        <figcaption [ngClass]="currentConfig.classNames?.languageInfoBarText">
            {{ language.displayText }}
        </figcaption>
    </div>
    <pre>
        @if (currentConfig.showLineNumbers) {
            <code [highlight]="item.data.code" lineNumbers [language]="language.language"></code>
        } @else {
            <code [highlight]="item.data.code" [language]="language.language"></code>
        }
    </pre>
</div>
