<div [ngClass]="[currentConfig.classNames?.container, 'code']">
    <div *ngIf="language" className="{currentConfig.classNames?.languageInfoBar}">
        <img [src]="language.logoSrc" [width]="25" [height]="25" [alt]="language.logoAlt" />
        <figcaption [ngClass]="currentConfig.classNames?.languageInfoBarText">
            {{ language.displayText }}
        </figcaption>
    </div>

    <!-- <SyntaxHighlighter
        [language]="language ? language.language : ''"
        [style]="currentConfig.codeStyle"
        [showLineNumbers]="currentConfig.showLineNumbers"
    >
        {item.data.code}
    </SyntaxHighlighter> -->
    <!-- <pre><code [highlight]="item.data.code" lineNumbers [startFrom]="1" [language]="language.language"></code></pre> -->
    <pre><code [highlight]="code" lineNumbers language="js"></code></pre>
    <!-- <pre><code>{{item.data.code}}</code></pre>
    <pre><code>{{code}}</code></pre> -->
</div>
