<div [ngClass]="[currentConfig.classNames?.container, 'code-block']">
    <div class="actions">
        @if (language) {
            <div [ngClass]="['lang', currentConfig.classNames?.languageInfoBar]">
                <img [src]="language.logoSrc" [alt]="language.logoAlt" />
                <figcaption [ngClass]="currentConfig.classNames?.languageInfoBarText">
                    {{ language.displayText }}
                </figcaption>
            </div>
        }
        <span
            class="content-copy"
            tabindex="0"
            role="button"
            (click)="copyToClipboard()"
            (keyup.enter)="copyToClipboard()"
        >
            <mat-icon class="info">content_copy</mat-icon>
        </span>
    </div>
    <pre>
        @if (currentConfig.showLineNumbers) {
            <code #codeContainer [highlight]="item.data.code" lineNumbers [language]="language.language"></code>
        } @else {
            <code #codeContainer [highlight]="item.data.code" [language]="language.language"></code>
        }
    </pre>
</div>
