# Docker
Dockerfile
.dockerignore

node_modules
.pnpm-store
npm-debug.log
README.md
docker
.tasks

# environment
.env
.env.local
.env.production

# Build outputs
dist
build
out-tsc
coverage

# Vitest
.vitest

# Logs
*.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea

# Cache
.angular
.sass-cache
