<figure [ngClass]="currentConfig.classNames?.container">
    <div *ngIf="language" className="{currentConfig.classNames?.languageInfoBar}">
        <img [src]="language.logoSrc" [width]="25" [height]="25" [alt]="language.logoAlt" />
        <figcaption [ngClass]="currentConfig.classNames?.languageInfoBarText">
            {{ language.displayText }}
        </figcaption>
    </div>

    <!-- <SyntaxHighlighter
        [language]="language ? language.language : ''"
        [style]="currentConfig.codeStyle"
        [showLineNumbers]="currentConfig.showLineNumbers"
    >
        {item.data.code}
    </SyntaxHighlighter> -->
    <pre><code [highlight]="item.data.code" language="html"></code></pre>
</figure>
