@use '@angular/material' as mat;
@use '../../../styles/variables' as vars;
@use '../../../styles/home' as home;

.toolbar:not(.home),
.toolbar.home.no-animation {
    .mat-toolbar.mat-toolbar-single-row {
        .logo {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;

            .head {
                color: var(--mat-sys-primary);
                font-size: 2.2rem;
                transform: translateY(4px);
            }

            .motto {
                color: var(--mat-sys-secondary);
                transform: translate(104px, -2px);
                font-size: 1rem;

                @media screen and (min-width: vars.$tablet-width) {
                    transform: translate(124px, -2px);
                }
            }
        }
    }

    @include home.toolbar-icons-animated(false);
}

.toolbar.home:not(.no-animation) {
    .mat-toolbar.mat-toolbar-single-row {
        animation:
            increase-toolbar-height 1s ease-out 0.5s forwards,
            decrease-toolbar-height 1s ease-out 6s forwards;

        .logo {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: justify-logo-left 2s ease-in-out 7s forwards;

            .head {
                text-align: center;
                text-transform: lowercase;
                font-size: 2.2rem;
                color: var(--mat-sys-primary);
                padding: 0.5rem;
                opacity: 0;
                overflow: hidden;
                border-right: 2px solid home.$cursor-color;
                white-space: nowrap;
                animation:
                    increase-opacity 0s linear 2.1s 1 forwards,
                    typing-logo 1s steps(20, end) 2s,
                    blink-caret-title 0.7s step-end 5 forwards,
                    translate-y-head 0.7s ease-in-out 7.5s 1 forwards;
            }

            .motto {
                text-align: center;
                font-size: 1.7rem;
                padding: 0.5rem;
                color: var(--mat-sys-tertiary);
                opacity: 0;
                overflow: hidden;
                border-right: 2px solid home.$cursor-color;
                white-space: nowrap;
                animation:
                    increase-opacity 0s linear 3.5s 1 forwards,
                    typing-motto 1s steps(25, end) 3.4s,
                    blink-caret-title 0.7s step-end 3.5s 5 forwards,
                    remove-caret 0.1s linear 6s 1 forwards,
                    transform-motto-tablet 0.5s ease-in-out 7s 1 forwards;

                @media screen and (min-width: vars.$tablet-width) {
                    animation:
                        increase-opacity 0s linear 3.5s 1 forwards,
                        typing-motto 1s steps(25, end) 3.4s,
                        blink-caret-title 0.7s step-end 3.5s 5 forwards,
                        remove-caret 0.1s linear 6s 1 forwards,
                        transform-motto 0.7s ease-in-out 6s 1 forwards;
                }
            }
        }

        @include home.toolbar-icons-animated(true);
    }
}

.mat-toolbar {
    position: relative;
    z-index: 10;
    height: vars.$header-height;
}

.tablet-menu {
    transform: translateY(-300px);
    position: absolute;
    top: vars.$header-height;
    width: 100vw;
    z-index: 9;
    background-color: var(--mat-sys-primary-container);
    transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.open {
        transform: translateY(0);
    }

    @media screen and (min-width: vars.$tablet-width) {
        display: none;
    }

    .mat-list-option {
        color: white;
    }
}
