@use '../../../styles/variables' as vars;
@use '../../../styles/home' as home;
@use '../../../styles/header' as header;

.logo {
    cursor: pointer;
}

.toolbar {
    position: relative;
    z-index: 100;
}

.toolbar-wrapper:not(.home),
.toolbar-wrapper.home.no-animation {
    .toolbar {
        .logo {
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .head {
                color: var(--mat-sys-primary);
                font-size: 1.8rem;

                @media screen and (min-width: vars.$mobile-width) {
                    font-size: 2.2rem;
                }
            }

            .motto {
                color: var(--mat-sys-secondary);
                transform: translate(60px, -2px);
                font-size: 1rem;

                @media screen and (min-width: vars.$mobile-width-large) {
                    transform: translate(103px, 0.5px);
                }
            }
        }
    }

    @include header.spacer-animated(false);
    @include header.icons-animated(false);
}

.toolbar-wrapper.home:not(.no-animation) {
    .toolbar {
        animation:
            increase-toolbar-height 1s ease-out 0.5s forwards,
            decrease-toolbar-height 1s ease-out 4s forwards;

        .logo {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: justify-logo-left 1.5s ease-in-out 5s forwards;

            .head {
                color: var(--mat-sys-primary);
                font-size: 1.8rem;
                opacity: 0;
                overflow: hidden;

                // Represents the cursor
                border-right: 2px solid home.$cursor-color;
                padding-bottom: 0.4rem;
                animation:
                    increase-opacity 0s linear 2.1s 1 forwards,
                    typing-logo 1s steps(15, end) 2s,
                    blink-caret-title 0.9s step-end 4 forwards,
                    translate-y-head 0.9s ease-in-out 7.5s 1 forwards;

                @media screen and (min-width: vars.$mobile-width) {
                    font-size: 2.2rem;
                }
            }

            .motto {
                color: var(--mat-sys-secondary);
                font-size: 1.7rem;
                opacity: 0;
                overflow: hidden;
                padding-bottom: 0.1rem;

                // Represents the cursor
                border-right: 2px solid home.$cursor-color;
                animation:
                    increase-opacity 0s linear 3.5s 1 forwards,
                    typing-motto 1s steps(25, end) 3.4s,
                    blink-caret-title 0.7s step-end 3.5s 5 forwards,
                    remove-caret 0.1s linear 6s 1 forwards,
                    transform-motto-tablet 0.5s ease-in-out 7s 1 forwards;

                @media screen and (min-width: vars.$mobile-width-large) {
                    animation:
                        increase-opacity 0s linear 3.5s 1 forwards,
                        typing-motto 1s steps(25, end) 3.4s,
                        blink-caret-title 0.7s step-end 3.5s 5 forwards,
                        remove-caret 0.1s linear 6s 1 forwards,
                        transform-motto 0.7s ease-in-out 6s 1 forwards;
                }
            }
        }

        @include header.spacer-animated(true);
        @include header.icons-animated(true);
    }
}

.mobile-menu {
    transform: translateY(-600px);
    position: fixed;
    top: vars.$header-mobile-height;
    left: 0;
    right: 0;
    z-index: 9;
    transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.open {
        transform: translateY(-8px);

        @media screen and (min-width: vars.$mobile-width) {
            transform: translateY(-3px);
        }
    }

    @media screen and (min-width: vars.$mobile-width) {
        display: none;
    }

    .mat-list-option {
        color: white;
    }

    .active {
        background-color: var(--mat-sys-tertiary);
    }

    .menu-item {
        border-top: 1px solid rgba(gray, 0.7);
    }

    .icons-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 3rem;

        > * {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 0.5rem;
        }
    }
}
