<table [class]="currentConfig.classNames.table">
    <tbody>
        <tr *ngFor="let rowArray of item.data.content; let index = index">
            <ng-container *ngFor="let text of rowArray; let index2 = index">
                <th *ngIf="item.data.with_headings && index === 0" [class]="currentConfig.classNames.tableHeader">
                    {{ text }}
                </th>
                <td *ngIf="!item.data.with_headings || index !== 0" [class]="currentConfig.classNames.tableData">
                    {{ text }}
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>
