<table [class]="currentConfig.classNames.table">
    <tbody>
        @for (rowArray of item.data.content; track i; let i = $index) {
            <tr>
                @for (text of rowArray; track j; let j = $index) {
                    @if (item.data.with_headings && i === 0) {
                        <th [class]="currentConfig.classNames.tableHeader">
                            {{ text }}
                        </th>
                    } @else {
                        <td [class]="currentConfig.classNames.tableData">
                            {{ text }}
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
