<figure key={item.id}
        className={classNames?.baseElement + " " + {
            [AlertType.info]: classNames?.info,
            [AlertType.success]: classNames?.success,
            [AlertType.danger]: classNames?.danger,
            [AlertType.light]: classNames?.light,
            [AlertType.dark]: classNames?.dark,
            [AlertType.warning]: classNames?.warning,
            [AlertType.primary]: classNames?.primary,
        }[item.data.type]}>
    <figcaption className={{
        [AlertAlignment.center]: classNames?.textCenter,
        [AlertAlignment.right]: classNames?.textRight,
        [AlertAlignment.left]: classNames?.textLeft
    }[item.data.align]}>
        {parse(item.data.message)}
    </figcaption>
</figure>
