@use '../../../styles/variables' as vars;
@use '../../../styles/home' as home;

.introduction-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    .mdc-card.introduction:not(.no-animation) {
        transform: translateY(home.$card-initial-position);
        position: relative;
        z-index: 5;
        animation: translate-y-card 3s ease-in-out 6s 1 forwards;

        .pop-later {
            opacity: 0;
            animation: increase-opacity 1s ease-out 8s forwards;
        }
    }

    .mat-card-header {
        .mat-card-title {
            width: 100%;

            @media screen and (min-width: vars.$mobile-width) {
                width: home.$card-headline-width;
            }
        }

        .mat-headline {
            opacity: 0;
            overflow: hidden;
            border-right: 3px solid home.$cursor-color;
            white-space: nowrap;
            animation:
                increase-opacity 0.1s ease-out 12.7s forwards,
                typing-tablet-title 1.5s steps(25, end) 12.6s forwards,
                blink-caret-title 0.7s step-end 12.7s 5 forwards,
                remove-caret 0.1s linear 15s 1 forwards;

            @media screen and (min-width: vars.$mobile-width) {
                animation:
                    increase-opacity 0.1s ease-out 12.7s forwards,
                    typing-title 1.5s steps(25, end) 12.6s forwards,
                    blink-caret-title 0.7s step-end 12.7s 5 forwards,
                    remove-caret 0.1s linear 15s 1 forwards;
            }
        }

        .mat-card-subtitle {
            opacity: 0;
            animation: increase-opacity 1s ease-out 15s forwards;
        }
    }

    &.no-animation {
        .mat-card.introduction {
            transform: translateY(home.$card-final-position);
            animation: none;

            .pop-later {
                opacity: 1;
                animation: none;
            }
        }

        .mat-card-header {
            .mat-headline {
                opacity: 1;
                border-right: none;
                animation: none;
            }

            .mat-card-subtitle {
                opacity: 1;
                animation: none;
            }
        }
    }

    p {
        font-family: var(--mat-card-subtitle-text-font);
    }

    .divider {
        margin: 1rem 0;
    }

    .action-btn {
        margin-left: auto;
    }
}

.mat-subtitle {
    padding: 1rem 0;
}
