@use "variables" as vars;

$cursor-color: orange;
$card-initial-position: -1000px;
$card-final-position: 0;
$card-headline-tablet-width: 19rem;
$card-headline-width: 24.5rem;

@mixin typing($toWidth: 100%) {
  0% { width: 0; }
  1% { width: 0.1rem; }
  100% { width: $toWidth; }
}

@mixin translate-y-keyframes($from, $to) {
  from { transform: translateY($from); }
  to { transform: translateY($to); }
}

@mixin blink-cursor {
  from,
  to { border-color: transparent; }
  50% { border-color: $cursor-color; }
}

@keyframes blink-caret-title {
  @include blink-cursor;
}

@keyframes to-position-static {
  from,
  to { position: static; }
}

@keyframes increase-opacity {
  from,
  to { opacity: 1; }
}

@keyframes remove-caret {
  from,
  to { border-right: none; }
}

@keyframes typing-logo {
  @include typing(12rem);
}

@keyframes typing-motto {
  @include typing(21rem);
}

@keyframes typing-title {
  @include typing($card-headline-width);
}

@keyframes typing-tablet-title {
  @include typing($card-headline-tablet-width);
}

@keyframes blink-caret-subtitle {
  from,
  to { border-color: transparent; }
}

@keyframes increase-toolbar-height {
  0% { height: 0; }
  10% { height: 100px; }
  99% { height: 490px; }
  100% { height: 500px; }
}

@keyframes decrease-toolbar-height {
  0%,
  1% { height: 499px; }
  99% { height: 77px; }
  100% { height: vars.$header-height; }
}

@keyframes justify-logo-left {
  0%,
  1% { width: 99.9%; }
  99% { width: 230px; }
  100% { width: 226px; }
}

@keyframes translate-y-head {
  @include translate-y-keyframes(0, 12px);
}

@keyframes translate-y-card {
  @include translate-y-keyframes($card-initial-position, $card-final-position);
}

@keyframes transform-motto {
  from { transform: translate(0, 0); }

  to {
    transform: translate(180px, -10px);
    font-size: 1rem;
  }
}

@keyframes transform-motto-tablet {
  from { transform: translate(0, 0); }

  to {
    transform: translate(80px, -10px);
    font-size: 1rem;
  }
}

@mixin toolbar-icon-animation {
  opacity: 0;
  position: absolute;
  animation:
    to-position-static 0.1s linear 9.3s forwards,
    increase-opacity 0.3s ease-out 9.5s forwards;
}

@mixin mat-icon-font-size {
  .mat-icon {
    font-size: 30px;
  }
}

@mixin toolbar-icons-animated {
  .blog-icon,
  .share-icon,
  .favorite-icon {
    display: none;
    margin-left: 30px;

    @media screen and (min-width: vars.$tablet-width) {
      display: inline-block;

      @include toolbar-icon-animation;
    }

    @include mat-icon-font-size;
  }

  .menu-icon {
    @include toolbar-icon-animation;

    @media screen and (min-width: vars.$tablet-width) {
      display: none;
    }

    @include mat-icon-font-size;
  }
}

@mixin toolbar-icons {
  .blog-icon,
  .share-icon,
  .favorite-icon {
    display: none;
    margin-left: 30px;

    @media screen and (min-width: vars.$tablet-width) {
      display: inline-block;
    }

    @include mat-icon-font-size;
  }

  .menu-icon {
    display: inline-block;

    @media screen and (min-width: vars.$tablet-width) {
      display: none;
    }

    @include mat-icon-font-size;
  }
}
