@use 'variables' as vars;
@use 'palettes' as p;

$cursor-color: p.get-palette-colors(p.$warning-palette, 80);
$card-initial-position: -1000px;
$card-final-position: 0;
$card-headline-tablet-width: 19rem;
$card-headline-width: 24.5rem;

@mixin typing($toWidth: 100%, $name: 'typing') {
    @keyframes #{$name} {
        0% {
            width: 0;
        }

        1% {
            width: 0.1rem;
        }

        100% {
            width: $toWidth;
        }
    }
}

@mixin translate-y-keyframes($from, $to) {
    from {
        transform: translateY($from);
    }

    to {
        transform: translateY($to);
    }
}

@keyframes blink-caret-title {
    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: $cursor-color;
    }
}

@keyframes increase-opacity {
    from,
    to {
        opacity: 1;
    }
}

@keyframes remove-caret {
    from,
    to {
        border-right: none;
    }
}

@include typing(8.3rem, 'typing-logo');
@include typing(10rem, 'typing-motto');
@include typing($card-headline-width, 'typing-title');
@include typing($card-headline-tablet-width, 'typing-tablet-title');

@keyframes blink-caret-subtitle {
    from,
    to {
        border-color: transparent;
    }
}

@keyframes increase-toolbar-height {
    0% {
        height: 0;
    }

    10% {
        height: 100px;
    }

    99% {
        height: 490px;
    }

    100% {
        height: 500px;
    }
}

@keyframes decrease-toolbar-height {
    0%,
    1% {
        height: 499px;
    }

    99% {
        height: 77px;
    }

    100% {
        height: vars.$header-standard-height;
    }
}

@keyframes translate-y-head {
    @include translate-y-keyframes(0, 4px);
}

@keyframes translate-y-card {
    @include translate-y-keyframes($card-initial-position, $card-final-position);
}

@keyframes transform-motto {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(102px, -2px);
        font-size: 1rem;
    }
}

@keyframes transform-motto-tablet {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(60px, -2px);
        font-size: 1rem;
        padding: 0;
    }
}
