$white-palette: (
  50: white,
  100: white,
  200: white,
  300: white,
  400: white,
  500: white,
  600: white,
  700: white,
  800: white,
  900: white,
  a100:white,
  a200:white,
  a400:white,
  a700:white,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    a100: black,
    a200: black,
    a400: black,
    a700: black,
  )
);
