/* Theme */
@use 'sass:color';
@use '@angular/material' as mat;
@use 'fonts';
@use 'variables' as vars;
@use 'theme' as t;

/* You can add global styles to this file, and also import other style files */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--mat-sys-primary);
}

.mdc-card {
    padding: 16px;
    padding-bottom: 0;

    @media screen and (min-width: vars.$mobile-width) {
        padding: vars.$card-padding;
        padding-bottom: 0.5rem;
    }
}

.mat-card.introduction {
    border: 1px solid rgb(0 0 0 / 12%);
    border-radius: 4px;
    box-shadow: none;

    .mat-card-actions {
        display: flex;
        justify-content: center;

        button {
            text-transform: uppercase;
        }
    }
}
