/* Theme */
@use 'sass:map';
@use '@angular/material' as mat;
@use 'palettes' as p;
@use 'fonts';
@use 'variables' as vars;
@use 'theme' as t;

/* You can add global styles to this file, and also import other style files */
.app-root {
    display: block;
    min-height: 100vh;
}

.dark {
    @include mat.theme(
        (
            color: (
                theme-type: dark,
                primary: p.$primary-palette,
                tertiary: p.$tertiary-palette
            )
        )
    );

    .blog-wrapper {
        .search-stats {
            background-color: rgba(black, 0.3);
        }
    }
}

.mdc-card {
    padding: vars.$card-padding-mobile;
    padding-bottom: 0;

    @media screen and (min-width: vars.$mobile-width) {
        padding: vars.$card-padding;
        padding-bottom: 0.5rem;
    }
}

.mat-card.introduction {
    border: 1px solid rgb(0 0 0 / 12%);
    border-radius: 4px;
    box-shadow: none;

    .mat-card-actions {
        display: flex;
        justify-content: center;

        button {
            text-transform: uppercase;
        }
    }
}

.code-block {
    // Overriding default styles of child component(s)
    // for CodeBlockComponent here in global styles.
    // I cannot affect child component elements directly
    // by styling them inside the parent component
    // stylesheet because the child component(s) have
    // an Emulated encapsulation.
    .hljs {
        border: none;
        transition: border ease 1s;

        &.hljs-line-numbers {
            padding: 0;
        }

        .hljs-ln {
            tr {
                &:first-child td {
                    padding-top: 10px;
                }

                &:last-child td {
                    padding-bottom: 10px;
                }
            }
        }

        /* for block of numbers */
        .hljs-line-numbers {
            position: sticky;
            left: 0;
            user-select: none;
            text-align: center;
            color: #cccccc6b;
            border-right: 1px solid #cccccc1c;
            vertical-align: top;
            padding-right: 10px;
            padding-left: 10px;
        }

        /* for block of code */
        .hljs-ln-code {
            padding-left: 10px !important;
        }

        &-subst {
            color: rgb(109 156 190);
        }
    }
}

.blog-wrapper .cdk-virtual-scroll-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.para-block {
    .cdx-annotation {
        cursor: help;
        border-bottom: 3px dotted #999;
    }

    .mat-mdc-tooltip-trigger {
        position: relative;
    }

    .custom-tooltip-content {
        background: rgb(97 97 97 / 90%);
        color: white;
        padding: 6px 8px;
        border-radius: 4px;
        font-size: 12px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    }
}
