<div [ngClass]="{ 'search-field': true, 'search-field-mobile': isMobile, info: isMobile }">
    <mat-form-field
        subscriptSizing="dynamic"
        [ngClass]="{
            'search-input-field': true,
            info: isMobile,
            'input-field-mobile': isMobile,
            expanded: isMobile || isExpanded(),
            collapsed: !isMobile && !isExpanded()
        }"
    >
        <input
            matInput
            placeholder="{{ t().placeholder }}"
            [(ngModel)]="searchQuery"
            (ngModelChange)="changeSearchQuery($event)"
            (focus)="expandInput()"
        />
    </mat-form-field>
    <button
        mat-icon-button
        matSuffix
        [matTooltip]="
            isMobile && isExpanded() && searchQuery()
                ? t().resetSearch
                : !isMobile && isExpanded() && searchQuery()
                  ? t().closeAndResetSearch
                  : !isMobile && isExpanded() && !searchQuery()
                    ? t().closeSearch
                    : t().search
        "
        (click)="toggleInput()"
        [ngClass]="{
            'search-icon': true,
            info: true,
            'search-icon-mobile': isMobile
        }"
    >
        @if ((isMobile && isExpanded() && searchQuery()) || (!isMobile && isExpanded())) {
            <mat-icon>search_off</mat-icon>
        } @else {
            <mat-icon>search</mat-icon>
        }
    </button>
</div>
