<ng-container>
    @if (!isOrderedList(item.data.style)) {
        <ul>
            @for (text of item.data.items; let i = $index; track identify(i, text)) {
                <li [class]="currentClasses.unordered">
                    @if (isStringInstance(text)) {
                        <span [innerHTML]="text"></span>
                    } @else {
                        <span [innerHTML]="$any(text).content"></span>
                        @if ($any(text).items.length > 0) {
                            <app-list-block
                                [item]="{
                                    data: { style: item.data.style, meta: item.data.meta, items: $any(text).items },
                                    type: blockToolTypeEnum.List
                                }"
                                [config]="currentConfig"
                            >
                            </app-list-block>
                        }
                    }
                </li>
            }
        </ul>
    }
    @if (isOrderedList(item.data.style)) {
        <ol>
            @for (text of item.data.items; let i = $index; track identify(i, text)) {
                <li [class]="currentClasses.ordered">
                    @if (isStringInstance(text)) {
                        <span [innerHTML]="text"></span>
                    } @else {
                        <span [innerHTML]="$any(text).content"></span>
                        @if ($any(text).items.length > 0) {
                            <app-list-block
                                [item]="{
                                    data: { style: item.data.style, meta: item.data.meta, items: $any(text).items },
                                    type: blockToolTypeEnum.List
                                }"
                                [config]="currentConfig"
                            >
                            </app-list-block>
                        }
                    }
                </li>
            }
        </ol>
    }
</ng-container>
