@for (item of data.blocks; track identify(item)) {
    @switch (item.type) {
        @case (blockToolTypeEnum.Alert) {
            <app-alert-block [item]="$any(item)" [config]="config?.alert"></app-alert-block>
        }
        @case (blockToolTypeEnum.Code) {
            <app-code-block [item]="$any(item)" [config]="config?.code" class="code-block" />
        }
        @case (blockToolTypeEnum.Header) {
            <app-header-block [item]="$any(item)"></app-header-block>
        }
        @case (blockToolTypeEnum.List) {
            <app-list-block [item]="$any(item)" [config]="config?.list"></app-list-block>
        }
        @case (blockToolTypeEnum.Paragraph) {
            <app-paragraph-block [item]="$any(item)" [config]="config?.paragraph"></app-paragraph-block>
        }
        @case (blockToolTypeEnum.Quote) {
            <app-quote-block [item]="$any(item)" [config]="config?.quote"></app-quote-block>
        }
        @case (blockToolTypeEnum.Raw) {
            <app-raw-block [item]="$any(item)"></app-raw-block>
        }
        @case (blockToolTypeEnum.Table) {
            <app-table-block [item]="$any(item)" [config]="config?.table"></app-table-block>
        }
        @case (blockToolTypeEnum.Delimiter) {
            <app-delimiter-block [item]="$any(item)"></app-delimiter-block>
        }
        @case (blockToolTypeEnum.Columns) {
            <app-columns-block
                [item]="$any(item)"
                [config]="config?.columns"
                [blockRendererConfig]="config"
            ></app-columns-block>
        }
        @case (blockToolTypeEnum.Image) {
            <app-image-block [item]="$any(item)" [config]="config?.image"></app-image-block>
        }
        @default {
            <app-error-block [item]="item" [config]="config?.error"></app-error-block>
        }
    }
}
