<div *ngFor="let item of data.blocks; trackBy: identify">
    <ng-container [ngSwitch]="item.type">
        <app-alert-block
            *ngSwitchCase="blockToolTypeEnum.Alert"
            [item]="item"
            [config]="config?.alert"
        ></app-alert-block>
        <app-code-block *ngSwitchCase="blockToolTypeEnum.Code" [item]="item" [config]="config?.code"></app-code-block>
        <app-header-block *ngSwitchCase="blockToolTypeEnum.Header" [item]="item"></app-header-block>
        <app-list-block *ngSwitchCase="blockToolTypeEnum.List" [item]="item" [config]="config?.list"></app-list-block>
        <app-paragraph-block
            *ngSwitchCase="blockToolTypeEnum.Paragraph"
            [item]="item"
            [config]="config?.paragraph"
        ></app-paragraph-block>
        <app-quote-block
            *ngSwitchCase="blockToolTypeEnum.Quote"
            [item]="item"
            [config]="config?.quote"
        ></app-quote-block>
        <app-error-block *ngSwitchDefault></app-error-block>
    </ng-container>
</div>
