<section class="blog-wrapper">
  <mat-card class="blog">
    <mat-card-header>
      <mat-card-title class="mat-headline">Under construction</mat-card-title>
      <mat-card-subtitle class="mat-title">
        <span>
          Here will be a blog article
        </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mat-body-1">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique iure perspiciatis laudantium amet
        asperiores,
        delectus maiores ipsam mollitia nobis assumenda, praesentium eos veniam minima et voluptate cum qui a atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora dolorum reiciendis minus nulla modi adipisci
        accusantium, quia laboriosam libero quas? Tempore debitis mollitia error delectus dolor eum nobis atque ducimus.
        Fugiat sapiente maiores earum facere odit quaerat tempore fuga at pariatur aliquid molestiae repellat sed ipsam,
        magni, possimus quod, in rerum ad. Explicabo iure, dolorum voluptatum ea corporis sapiente amet?
        Aliquam ut officiis maxime sit eius nihil labore dolor. Sunt ipsum optio quisquam maxime molestiae animi
        recusandae? In veritatis laudantium necessitatibus. Eius amet iusto eum distinctio delectus optio dolorem
        minima.
        Ex nobis ad repudiandae at odio iure, iusto sed voluptas recusandae, aperiam officia minus fugit fugiat enim.
        Ipsum, libero nam voluptates sapiente quo veniam minima quis quibusdam odit, tempora rerum.
        Doloremque, laudantium. Quidem, sunt aperiam accusantium vitae animi obcaecati corrupti assumenda provident
        corporis, optio maiores laborum aliquam laudantium eos vel numquam? Exercitationem adipisci molestiae libero
        doloribus accusantium officiis odit aut!
      </p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus iste labore est nam quia, soluta
        reiciendis quisquam dolores deleniti dolorem maxime voluptatibus id, odit a sapiente eius tempore. Rerum, et!
        Delectus nemo quos, ut commodi voluptatem mollitia, dolore cumque praesentium aspernatur quo quod eius
        dignissimos quidem. Ipsum, autem, vero cum sequi architecto commodi fuga sunt labore dolore expedita possimus
        unde.
        Nam quam distinctio amet. Esse, impedit, neque nulla enim totam vero tempora ullam fugiat libero minima corporis
        consectetur harum debitis nisi voluptates perspiciatis blanditiis repellendus? Numquam nulla soluta ab
        perspiciatis.
        Doloremque voluptates amet repellendus earum porro quibusdam soluta harum obcaecati! Quaerat facilis consequatur
        similique atque assumenda cum animi ad nesciunt repudiandae, voluptates perspiciatis eveniet officia, unde
        explicabo esse? Vel, veritatis.
        Tempore repellendus est quas nisi. Officiis laboriosam doloribus totam! Magnam, rerum culpa? Obcaecati, quaerat.
        Veniam illum est repellendus, molestias optio quidem laudantium sit veritatis a unde qui, nesciunt,
        exercitationem sunt.
      </p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus iste labore est nam quia, soluta
        reiciendis quisquam dolores deleniti dolorem maxime voluptatibus id, odit a sapiente eius tempore. Rerum, et!
        Delectus nemo quos, ut commodi voluptatem mollitia, dolore cumque praesentium aspernatur quo quod eius
        dignissimos quidem. Ipsum, autem, vero cum sequi architecto commodi fuga sunt labore dolore expedita possimus
        unde.
        Nam quam distinctio amet. Esse, impedit, neque nulla enim totam vero tempora ullam fugiat libero minima corporis
        consectetur harum debitis nisi voluptates perspiciatis blanditiis repellendus? Numquam nulla soluta ab
        perspiciatis.
        Doloremque voluptates amet repellendus earum porro quibusdam soluta harum obcaecati! Quaerat facilis consequatur
        similique atque assumenda cum animi ad nesciunt repudiandae, voluptates perspiciatis eveniet officia, unde
        explicabo esse? Vel, veritatis.
        Tempore repellendus est quas nisi. Officiis laboriosam doloribus totam! Magnam, rerum culpa? Obcaecati, quaerat.
        Veniam illum est repellendus, molestias optio quidem laudantium sit veritatis a unde qui, nesciunt,
        exercitationem sunt.
      </p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus iste labore est nam quia, soluta
        reiciendis quisquam dolores deleniti dolorem maxime voluptatibus id, odit a sapiente eius tempore. Rerum, et!
        Delectus nemo quos, ut commodi voluptatem mollitia, dolore cumque praesentium aspernatur quo quod eius
        dignissimos quidem. Ipsum, autem, vero cum sequi architecto commodi fuga sunt labore dolore expedita possimus
        unde.
        Nam quam distinctio amet. Esse, impedit, neque nulla enim totam vero tempora ullam fugiat libero minima corporis
        consectetur harum debitis nisi voluptates perspiciatis blanditiis repellendus? Numquam nulla soluta ab
        perspiciatis.
        Doloremque voluptates amet repellendus earum porro quibusdam soluta harum obcaecati! Quaerat facilis consequatur
        similique atque assumenda cum animi ad nesciunt repudiandae, voluptates perspiciatis eveniet officia, unde
        explicabo esse? Vel, veritatis.
        Tempore repellendus est quas nisi. Officiis laboriosam doloribus totam! Magnam, rerum culpa? Obcaecati, quaerat.
        Veniam illum est repellendus, molestias optio quidem laudantium sit veritatis a unde qui, nesciunt,
        exercitationem sunt.
      </p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus iste labore est nam quia, soluta
        reiciendis quisquam dolores deleniti dolorem maxime voluptatibus id, odit a sapiente eius tempore. Rerum, et!
        Delectus nemo quos, ut commodi voluptatem mollitia, dolore cumque praesentium aspernatur quo quod eius
        dignissimos quidem. Ipsum, autem, vero cum sequi architecto commodi fuga sunt labore dolore expedita possimus
        unde.
        Nam quam distinctio amet. Esse, impedit, neque nulla enim totam vero tempora ullam fugiat libero minima corporis
        consectetur harum debitis nisi voluptates perspiciatis blanditiis repellendus? Numquam nulla soluta ab
        perspiciatis.
        Doloremque voluptates amet repellendus earum porro quibusdam soluta harum obcaecati! Quaerat facilis consequatur
        similique atque assumenda cum animi ad nesciunt repudiandae, voluptates perspiciatis eveniet officia, unde
        explicabo esse? Vel, veritatis.
        Tempore repellendus est quas nisi. Officiis laboriosam doloribus totam! Magnam, rerum culpa? Obcaecati, quaerat.
        Veniam illum est repellendus, molestias optio quidem laudantium sit veritatis a unde qui, nesciunt,
        exercitationem sunt.
      </p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus iste labore est nam quia, soluta
        reiciendis quisquam dolores deleniti dolorem maxime voluptatibus id, odit a sapiente eius tempore. Rerum, et!
        Delectus nemo quos, ut commodi voluptatem mollitia, dolore cumque praesentium aspernatur quo quod eius
        dignissimos quidem. Ipsum, autem, vero cum sequi architecto commodi fuga sunt labore dolore expedita possimus
        unde.
        Nam quam distinctio amet. Esse, impedit, neque nulla enim totam vero tempora ullam fugiat libero minima corporis
        consectetur harum debitis nisi voluptates perspiciatis blanditiis repellendus? Numquam nulla soluta ab
        perspiciatis.
        Doloremque voluptates amet repellendus earum porro quibusdam soluta harum obcaecati! Quaerat facilis consequatur
        similique atque assumenda cum animi ad nesciunt repudiandae, voluptates perspiciatis eveniet officia, unde
        explicabo esse? Vel, veritatis.
        Tempore repellendus est quas nisi. Officiis laboriosam doloribus totam! Magnam, rerum culpa? Obcaecati, quaerat.
        Veniam illum est repellendus, molestias optio quidem laudantium sit veritatis a unde qui, nesciunt,
        exercitationem sunt.
      </p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus iste labore est nam quia, soluta
        reiciendis quisquam dolores deleniti dolorem maxime voluptatibus id, odit a sapiente eius tempore. Rerum, et!
        Delectus nemo quos, ut commodi voluptatem mollitia, dolore cumque praesentium aspernatur quo quod eius
        dignissimos quidem. Ipsum, autem, vero cum sequi architecto commodi fuga sunt labore dolore expedita possimus
        unde.
        Nam quam distinctio amet. Esse, impedit, neque nulla enim totam vero tempora ullam fugiat libero minima corporis
        consectetur harum debitis nisi voluptates perspiciatis blanditiis repellendus? Numquam nulla soluta ab
        perspiciatis.
        Doloremque voluptates amet repellendus earum porro quibusdam soluta harum obcaecati! Quaerat facilis consequatur
        similique atque assumenda cum animi ad nesciunt repudiandae, voluptates perspiciatis eveniet officia, unde
        explicabo esse? Vel, veritatis.
        Tempore repellendus est quas nisi. Officiis laboriosam doloribus totam! Magnam, rerum culpa? Obcaecati, quaerat.
        Veniam illum est repellendus, molestias optio quidem laudantium sit veritatis a unde qui, nesciunt,
        exercitationem sunt.
      </p>
    </mat-card-content>
  </mat-card>
</section>
