@use '@angular/material' as mat;
@use '../../styles/variables' as vars;
@use '../../styles/home' as home;

.home {
    .mat-toolbar.mat-toolbar-single-row {
        animation:
            increase-toolbar-height 1s ease-out 0.5s forwards,
            decrease-toolbar-height 1s ease-out 6s forwards;

        .logo {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: justify-logo-left 2s ease-in-out 7s forwards;

            .head {
                text-align: center;
                text-transform: lowercase;
                font-size: 2.2rem;
                color: var(--mat-sys-primary);
                padding: 0.5rem;
                opacity: 0;
                overflow: hidden;
                border-right: 2px solid home.$cursor-color;
                white-space: nowrap;
                animation:
                    increase-opacity 0s linear 2.1s 1 forwards,
                    typing-logo 1s steps(20, end) 2s,
                    blink-caret-title 0.7s step-end 5 forwards,
                    translate-y-head 0.7s ease-in-out 7.5s 1 forwards;
            }

            .motto {
                text-align: center;
                font-size: 1.7rem;
                padding: 0.5rem;
                color: var(--mat-sys-tertiary);
                opacity: 0;
                overflow: hidden;
                border-right: 2px solid home.$cursor-color;
                white-space: nowrap;
                animation:
                    increase-opacity 0s linear 4.5s 1 forwards,
                    typing-motto 1s steps(25, end) 4.4s,
                    blink-caret-title 0.7s step-end 4.5s 5 forwards,
                    remove-caret 0.1s linear 6s 1 forwards,
                    transform-motto-tablet 0.5s ease-in-out 7s 1 forwards;

                @media screen and (min-width: vars.$tablet-width) {
                    animation:
                        increase-opacity 0s linear 4.5s 1 forwards,
                        typing-motto 1s steps(25, end) 4.4s,
                        blink-caret-title 0.7s step-end 4.5s 5 forwards,
                        remove-caret 0.1s linear 6s 1 forwards,
                        transform-motto 0.7s ease-in-out 7s 1 forwards;
                }
            }
        }

        @include home.toolbar-icons-animated(true);
    }
}
