<section class="introduction-wrapper"
         [ngClass]="{'no-animation': (animationFinished$ | async)}">
  <mat-card class="introduction">
    <mat-card-header>
      <mat-card-title class="mat-headline">Hello! My name is Igor.</mat-card-title>
      <mat-card-subtitle class="mat-title">
        <span>
          This is my personal blog. It will take you on a journey of how this blog is being made.
        </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="pop-later">
      <p>
        It may be empty yet, because I am just starting. Or it may already be complete. In any case, I'll share my
        experience
        and the code so that others understand what it is to be a web programmer and how to create one's own
        website.
      </p>
      <p>Enjoy the journey and happy coding!</p>
    </mat-card-content>
    <mat-divider inset
                 class="pop-later"></mat-divider>
    <mat-card-actions class="pop-later">
      <button mat-button
              [routerLink]="['/blog']"
              color="accent">Go to Blog</button>
    </mat-card-actions>
  </mat-card>
</section>
