<section class="blog-wrapper">
    @let searchQuery = (searchQuery$ | async) || '';
    @if (searchQuery.length > 2) {
        <mat-card [ngClass]="{ 'search-stats': true }">
            <mat-card-content>
                <div>Search results for "{{ searchQuery }}"</div>
                <div>Number of articles found: {{ ds.articlesTotal }}</div>
            </mat-card-content>
        </mat-card>
    } @else if ((searchQuery.length || 0) > 0 && searchQuery.length <= 2) {
        <article>
            <div>Please type more than 2 characters to trigger the filter...</div>
        </article>
    }

    @if (isLoading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <cdk-virtual-scroll-viewport scrollWindow [itemSize]="453" minBufferPx="0" maxBufferPx="0">
        <app-article
            [isAnimationFinished]="true"
            *cdkVirtualFor="let article of ds"
            [articleInput]="article"
            [isPreview]="true"
            [selectedLanguage]="selectedLanguage()"
        />
    </cdk-virtual-scroll-viewport>
</section>
