<section class="blog-wrapper">
    @let searchQuery = (searchQuery$ | async) || '';
    @if (searchQuery.length > 2) {
        <article>
            <div>Search results for "{{ searchQuery }}"</div>
            <div>Number of articles found: {{ ds.articlesTotal }}</div>
        </article>
    } @else if ((searchQuery.length || 0) > 0 && searchQuery.length <= 2) {
        <article>
            <div>Please type more than 2 characters to trigger the filter...</div>
        </article>
    }
    <cdk-virtual-scroll-viewport scrollWindow [itemSize]="453" minBufferPx="0" maxBufferPx="0">
        <app-article
            [isAnimationFinished]="(isAnimationFinished$ | async) || false"
            *cdkVirtualFor="let article of ds"
            [articleInput]="article"
            [isPreview]="true"
            [selectedLanguage]="selectedLanguage()"
        />
    </cdk-virtual-scroll-viewport>
</section>
